@using System.Web.Optimization;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/custom.less" media="screen" />
</head>

<body>
    @RenderSection("Header", required: false)
    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("Footer", required: false)
    <div class="script-container">
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jQuery-unobtrusive-validation")
        @Scripts.Render("~/bundles/bootstrapjs")
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
