@model Chat.Models.LoginUserViewModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "Welcome!";
}

@section Header
{
    <div class="navbar">
        <div class="navbar-inner">
        </div>
    </div>
}

<div class="row">
    <div class="span4">
        @Html.ValidationSummary(excludePropertyErrors: true, message: string.Empty, htmlAttributes: new { @class = "text-error" })
    </div>
</div>

<div class="row">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="control-group">
            @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.Email, htmlAttributes: new { placeholder = "email", type = "email" })
            </div>
            @Html.ValidationMessageFor(m => m.Email, validationMessage: string.Empty, htmlAttributes: new { @class = "text-error" })
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.Password, new { placeholder = "password" })
            </div>
            @Html.ValidationMessageFor(m => m.Password, validationMessage: string.Empty, htmlAttributes: new { @class = "text-error" })
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.RememberMe, new { @class = "control-label" })
            <div class="controls">
                @Html.CheckBoxFor(m => m.RememberMe)
                <button type="submit" class="btn btn-success">Login</button>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="span4">
        Don't have an account? <a href="@Url.Action("Register")">Register</a>!
    </div>
</div>
